<h2>Welcome to my user page!</h2>

<% @user.images.each do |image| %>
  <%= image_tag(image.photo) %>
  <p><%= image.title %></p>
<% end %>


<%= link_to "Upload new photo", new_user_image_path(@user) %>
